:root {
    --mainColor: #3b5998;
    --mainColorhover: #263960;
    --bodyBG: rgb(228 228 228);
    --containerBG: #f8f9fa;
    --navTimeColor: #fff;
    --navColor: #fff;
    --footerColor: #fff;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bodyBG);
}

.bg-container {
    background-color: var(--containerBG);
}

@media screen and (max-width: 1110px) {
    html, body {
        height: auto;
    }
}

@media screen and (min-width: 800px) {
    .p-33 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.btn-FB {
    background-color: var(--mainColor);
    border: var(--mainColor);
    color: white;
}

    .btn-FB:hover {
        background-color: var(--mainColorhover);
        border: var(--mainColorhover);
        color: white;
    }

table {
    white-space: nowrap;
}

td {
    border-right: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
}

th {
    border-right: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
}

.navbar {
    background-color: var(--mainColor);
}

.navbar-toggler {
    /*    background-color: var(--mainColor);*/
    width: 5rem;
    height: 2.5rem;
    padding: 1rem,3rem;
}

.nav-time {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--navTimeColor);
    text-align: center;
    display: block;
    padding: 0.5rem 1rem;
}

    /* 時間nav */
    .nav-time:hover {
        color: var(--navTimeColor);
        text-decoration: none;
    }

.nav-link {
    color: var(--navColor);
    text-align: center;
}

    /* 整個nav */
    .nav-link:hover {
        /*        color: lightblue;*/
        color: white;
        /*        text-shadow: 0px 0px 15px var(--mainColorhover);*/
        border-radius: 5px;
        background-color: var(--mainColorhover);
    }

.nav-item + nav-link {
    color: var(--navColor);
}

/* 下拉選單按下去 */
.dropdown-item:active {
    background-color: var(--mainColor);
}

/* 下方底部欄位 */
.footer {
    position: fixed;
    /*    left: 0;*/
    font-size:0.9rem;
    bottom: 0;
    width: 100%;
    background-color: var(--mainColor);
    color: var(--footerColor);
    text-align: center;
    z-index: 2;
    padding: 0.75rem;
    white-space: nowrap;
}
