:root {
    --mainColor: rgb(53 75 105);
    --mainColorhover: rgb(80 113 158);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center
}

/* 登入窗格的響應，如果畫面大就放大 */
@media screen and (min-width: 1000px) {
    .wh-Login {
        width: 23rem;
        height: 27rem;
    }

    .wh-Login input{
        width:100%;
        font-size:1.2rem;
    }

    .wh-Login button{
/*        margin-right:1rem;*/
        width:5rem;
        height:3.5rem;
    }

    .wh-Login label {
        font-size: 1.1rem;
    }
}

.center {
    margin: 0 auto;
    float: none;
    display: flex;
    /* z-index: 21; */
}

.login {
    border: 10px solid #fff;
    border-radius: 10px;
    background-color: var(--mainColor);
    opacity: 0.8;
    box-shadow: 0 0 60px #000;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #fff;
}


.form h3 {
    margin-bottom: 10%;
    border-bottom: 2px solid #fff;
    padding-bottom: 10%;
    text-align: center;
}

.form .group {
    margin-bottom: 20px;
}

.form label {
    line-height: 1;
}

.form input {
    border: 1px solid #aaa;
    line-height: 2;
    border-radius: 5px;
}


.btn {
    /* 文字顏色  */
    color: #3b5998;
    /* 邊框樣式、顏色、寬度  */
    transition-duration: 0.4s;
    color: black;
    border: 3px solid white;
}

    .btn:hover {
        background-color: var(--mainColor);
        color: white;
    }
